@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
}
.card {
  display: inline-block;
  margin: auto;
  height: 560px;
  width: 360px;
  border-radius: 0.4rem;
  background-color: white;
  padding: 00px;
  position: relative;

  &:before {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 90px;
  }
  &:afeter {
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: 90px;
  }
  &.diamante:before,
  &.diamente:after {
    content: ♦;
  }
  &.pica:before,
  &.pica:after {
    content: ♠;
  }
  &.trebol:before,
  &.trebol:after {
    content: ♣;
  }
  &.corazon:before,
  &.corazon:after {
    content: ♥;
  }
}
